@using Portfolio.Data
@model InterpersonalSkills
@{
    Layout = "~/Views/Shared/_exLayout.cshtml";

}
<div style="background: -webkit-linear-gradient(-#6610f2, #6f42c1,#6f42c1);">

    <div class="main">

        <div class="container">
            <h2>Edit Interpersonal Skill</h2>
            <form method="post" action="/Skill/InterpersonalSkillEdit" id="signup-form" class="signup-form">
                <h3>
                    Edit Interpersonal Skill
                </h3>
                <fieldset>
                    <div class="form-row form-input-flex">
                        <div class="form-input">
                            @Html.HiddenFor(x => x.InterpersonalSkillsId)
                            <label>Edit Degree</label>
                            @Html.TextBoxFor(x => x.InterpersonalSkillName, new { @class = "form-control" })
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>