<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/loginDesign/images/icons/favicon.ico>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginDesign/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/loginDesign/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!--===============================================================================================-->
    <script src="~/loginDesign/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginDesign/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginDesign/vendor/bootstrap/js/popper.js"></script>
    <script src="~/loginDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginDesign/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginDesign/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/loginDesign/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginDesign/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginDesign/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
