

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Portfolio</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="~/ViewPortfoliDesign/common-css/bootstrap.css" rel="stylesheet">
    <link href="~/ViewPortfoliDesign/common-css/ionicons.css" rel="stylesheet">
    @*<link href="~/ViewPortfoliDesign/common-css/fluidbox.min.css" rel="stylesheet">*@
    <link href="~/ViewPortfoliDesign/01-cv-portfolio/css/styles.css" rel="stylesheet">
    <link href="~/ViewPortfoliDesign/01-cv-portfolio/css/responsive.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="~/ViewPortfoliDesign/common-js/jquery-3.2.1.min.js"></script>
    <script src="~/ViewPortfoliDesign/common-js/tether.min.js"></script>
    <script src="~/ViewPortfoliDesign/common-js/bootstrap.js"></script>
    <script src="~/ViewPortfoliDesign/common-js/isotope.pkgd.min.js"></script>
    <script src="~/ViewPortfoliDesign/common-js/jquery.waypoints.min.js"></script>
    @*<script src="~/ViewPortfoliDesign/common-js/progressbar.min.js"></script>*@
    @*<script src="~/ViewPortfoliDesign/common-js/jquery.fluidbox.min.js"></script>*@
    <script src="~/ViewPortfoliDesign/common-js/scripts.js"></script>
</head>


<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by Thabet
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>


    </footer>




</body>
</html>
